*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: consolas;
}
body{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background:#edf1f4 ;

}

.cal
{
    position: relative;
    width: 340px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 15px 15px 20px rgba(0, 0,0,0.1),-15px -15px  20px #fffb;


}
.cal .buttons {
    position: relative;
    display: grid;

}
.cal .buttons #value 
{
    position: relative;
    grid-column: span 4;
    user-select: none;
    overflow:none ;
    width: 100%;
    text-align: end;
    color: #5166d6;
    line-height: 100px;
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.1),inset -5px -5px 20px #fff;
    border-radius: 10px;
    margin-bottom:12px;
    padding: 0 20px;
    font-size: 2em;
    font-weight: 500;



}
.cal .buttons span {
   position: relative;
   padding: 10px;
   box-shadow: 5px 5px 10px rgba(0,0,0,0,0,1),-5px -5px 20px #fff;
   margin: 10px;
   cursor: pointer;
   user-select: none;
   min-width: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2em;
   color: #666;
   border: 2px solid#edf1f4;
   box-shadow: 5px 5px 10px rgba(0,0,0,0.1),-5px -5px 10px #fff;
   border-radius: 
   10px;

}
.cal .buttons span:active
{
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.1),inset -5px -5px 10px #fff;
    color: #f44336;
}
.cal .buttons span#clear
{
    grid-column: span 2;
    background: #f44336;
    color: #fff;
    border: 2px solid #edf1f4;

}
.cal .buttons span#plus
{
    grid-row: span 2;
    background: #31a935;
    color: #fff;
    border: 2px solid #edf1f4;

}
.cal .buttons span#equal
{
    grid-row: span 2;
    background: #2196f3;
    color: #fff;
    border: 2px solid #edf1f4;
}
.cal .buttons span#clear,
.cal .buttons span#plus,
.cal .buttons span#equal
{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1),-5px -5px 10px rgba(0,0,0,0.1);


}
.toggle
{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius:50% ;
    background: #555;
    border:2px solid #edf1f4;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1) -5px -5px 10px #fff;

}
.dark{
    background: #282c2f;
}
.dark .cal{
    background: #33393c;
    box-shadow: 15px 15px 20px rgba(0,0,0,0.1),-15px -15px 20px rgba(255,255,255,0.1) ;

}
.dark .cal .buttons #value {
    color: white;
    background: #33393c;
    box-shadow: 15px 15px 20px rgba(0,0,0,0.1),-15px -15px 20px rgba(255,255,255,0.1) ;
}


